* {
	transition: 0.2s ease-out;
}

.link_list {
	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;
	justify-content: flex-start;
	min-width: 80%;
	height: 60vh;
	overflow: hidden;
	position: relative;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	&__item {
		position: relative;
		margin: 0.2rem;
		min-height: 30px;
		width: calc(100% / 3 - 7px);
		background-color: #c7c5e6;
		text-decoration: none;
		transition: 0.2s ease-in;
		display: flex;
		align-items: center;
		gap: 1rem;
		text-decoration: none;
		img {
			max-height: 30px;
			max-width: 30px;
		}
		svg {
			position: absolute;
			top: 0.35rem;
			right: 1px;
		}
	}
	&__button {
		display: flex;
		align-items: center;
		gap: 1rem;
		background-color: rgba(199, 197, 230, 0.1);
		padding: 0.2rem;
		margin: 0.2rem;
		border: none;
		transition: 0.5s;
	}
	&__button:hover {
		transition: 0.5s;
		border-radius: 6px;
		background-color: rgba(199, 197, 230, 0.5);
	}
	&__input {
		display: flex;
		align-items: center;
		width: calc(100% / 3 - 15px);
		min-height: 20px;
		padding: 0.2rem;
		margin: 0.2rem;
		font-family: "Montserrat", sans-serif;
		outline: none;
		border: none;
		background-color: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(2px);
	}
}

.link_tiles {
	width: max-content;
	height: 60vh;
	display: grid;
	gap: 0.2rem;
	overflow: hidden;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	padding: 0.2rem;
	&__item {
		position: relative;
		border-radius: 2px;
		background-color: #c7c5e6;
		padding: 0.8rem;
		overflow: hidden;
		width: 200px;
		img {
			max-height: 32px;
			max-width: 32px;
		}
		svg {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	&__button {
		display: flex;
		align-items: center;
		gap: 1rem;
		background-color: rgba(199, 197, 230, 0.1);
		padding: 0.2rem;
		margin: 0.2rem;
		border: none;
	}
	&__button:hover {
		transition: 0.5s;
		border-radius: 6px;
		background-color: rgba(199, 197, 230, 0.5);
	}
	&__input {
		padding: 0.2rem;
		margin: 0.2rem;
		font-family: "Montserrat", sans-serif;
		outline: none;
		border: none;
		max-width: 200px;
		background-color: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(2px);
	}
}