.link_item {
	display: flex;
	align-items: center;
	gap: 1rem;
	text-decoration: none;
	img {
		max-height: 30px;
		max-width: 30px;
	}
	span {
		color: #000;
		text-decoration: none;
		font-family: 'Montserrat', sans-serif;
	}
}