.ConfigsMenu {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.2rem;
	.configs_menu {
		transition: 0.3s ease-in-out;
		min-height: 95vh;
		width: 60vh;
		z-index: 1;
		background-color: rgba(255, 255, 255, 0.4);
		backdrop-filter: blur(5px);
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		&__item {
			margin: 0.2rem;
			background-color: rgba(255, 255, 255, 0.8);
			&__title {
				margin: 1rem;
			}
		}
	}
}